@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: 'Poppins', sans-serif;
}



:root {
  --text-color: #f0f4f5;
  --background-color: #263343;
  --accent-color: #f44336;
  --text1-color: #222222;
  --icon-color: #6ab04c;
}
/* Header Section Start */
a {
  text-decoration: none;
  color: var(--text-color);
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--background-color);
  padding: 8px 12px;
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 9999;
}

.navbar_logo {
  display: flex;
  font-size: 24px;
  color: var(--text-color);
}

.navbar_logo img {
  width: 35px;
  height: auto;
}

.navbar_logo a {
  margin-left: 10px;
  font-weight: 600;
  font-size: 1.5rem;
}

.navbar_menu {
  display: flex;
  list-style: none;
  padding-left: 0;
  transition: all 0.5s ease;
}

.navbar_menu li {
  padding: 8px 12px;
  font-weight: 500;
  font-size: 1rem;
}

.navbar_menu li:hover {
  background-color: var(--accent-color);
  border-radius: 4px;
}

.navbar_icons {
  list-style: none;
  color: var(--text-color);
  display: flex;
  padding-left: 0;
}

.navbar_icons li {
  padding: 8px 12px;
}

.navbar_toggleBtn {
  display: none;
  position: absolute;
  right: 32px;
  font-size: 24px;
  color: var(--accent-color);
}
/* Navbar Media Query */
@media screen and (max-width: 768px) {
  .navbar {
    flex-direction: column;
    align-items: flex-start;
    padding: 8px 24px;
  }

  .navbar_menu {
    display: none;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }

  .navbar_menu li {
    width: 100%;
    text-align: center;
  }

  .navbar_icons {
    display: none;
    justify-content: center;
    width: 100%;
  }

  .navbar_toggleBtn {
    display: block;
  }

  .navbar_menu.active,
  .navbar_icons.active {
    display: flex;
  }
}
/* Header Section End */

/* Hero Section Start */

.hero {
  display: flex;
  padding: 20px;
}
.hero-content {
  width: 50%;
  padding-top: 35px;
  padding-left: 50px;
}
.hi {
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 2rem;
  color: var(--text1-color);
}
.intro {
  margin-top: 15px;
  font-weight: 700;
  font-size: 2.5rem;
  line-height: 3.875rem;
  color: var(--text1-color);
}
.aboutme {
  margin-top: 15px;
  font-weight: 400;
  font-size: 1.125rem;
  line-height: 1.875rem;
  color: var(--text1-color);
}
.followme {
  margin-top: 15px;
  font-weight: 400;
  font-size: 1.125rem;
  line-height: 1.875rem;
  color: var(--text1-color);
  opacity: 50%;
}
.hero-image {
  width: 50%;
}
.hero-image img {
  width: 100%;
  object-fit: cover;
}
.social-icon {
  display: flex;
  margin-top: 25px;
}

.social-icon a {
  padding-left: 15px;
}

button {
  margin-right: 20px;
  margin-top: 10px;
  outline: none;
}
.custom-button {
  margin-top: 20px;
  padding: 10px;
  color: var(--text1-color);
  border: 2px solid #f44336;
  border-radius: 2px;
  font-weight: 500;
  background: transparent;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
}
.button {
  transition: all 0.3s ease;
  overflow: hidden;
}
.button:after {
  position: absolute;
  content: ' ';
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  transition: all 0.3s ease;
  -webkit-transform: scale(0.1);
  transform: scale(0.1);
}
.button:hover {
  color: #fff;
}
.button:hover:after {
  background: var(--accent-color);
  -webkit-transform: scale(1);
  transform: scale(1);
}

/* Hero Section Media Query  */
@media screen and (max-width: 768px) {
  .hero {
    flex-direction: column;
  }
  .hero-content {
    width: 100%;
  }
  .hero-image {
    width: 100%;
    margin-top: 20px;
  }
  .hero-image img {
    width: 100%;
    object-fit: cover;
  }
}
/* Hero Section End */

/* About Section Start */
#about {
  background-color: #F1F1F1;
}
.about-container {
  width: 90%;
  margin: auto;
  background-color: var(--accent-color);
  border-radius: 20px;
  padding: 10px;
  display: flex;
}

.about-image {
  margin-top: 60px;
  margin-left: 20px;
  width: 40%;
}
.about-image img {
  width: 100%;
  object-fit: cover;
}
.about-content {
  margin-top: 50px;
  margin-left: 30px;
  width: 60%;
}
.complete-work {
  display: flex;
  align-items: center;
}
.complete-task p:nth-child(1) {
  color: var(--text-color);
  font-weight: 600;
  font-size: 3rem;
}
.complete-task p:nth-child(2) {
  color: var(--text-color);
  line-height: 75px;
  font-weight: 500;
  font-size: 1rem;
}
.reviews-rate {
  padding-left: 80px;
}
.star-icon i {
  color: var(--icon-color);
}
.reviews-rate p {
  color: var(--text-color);
  margin-top: 50px;
  font-weight: 500;
  font-size: 1rem;
}

.about-content-text h1 {
  margin-top: 20px;
  font-weight: 700;
  font-size: 2rem;
  color: var(--text-color);
}
.about-content-text p {
  font-weight: 500;
  font-size: 1rem;
  color: var(--text-color);
  margin-top: 35px;
}

.title {
  margin-top: 50px;
  text-align: center;
  font-weight: 700;
  font-size: 2rem;
  color: var(--text1-color);
}
.hire-me {
  display: flex;
  text-align: center;
  padding: 60px;
}
.communicative {
  width: 25%;
}
.communicative p:nth-child(2n) {
  margin-top: 15px;
  font-weight: 500;
  font-size: 1.25rem;
  color: var(--text1-color);
}
.communicative p:nth-child(2n + 1) {
  margin-top: 20px;
  font-weight: 400;
  font-size: 1rem;
  color: var(--text1-color);
}
.communicative img {
  width: 25%;
  object-fit: cover;
}
.professional {
  width: 25%;
}
.professional p:nth-child(2n) {
  margin-top: 15px;
  font-weight: 500;
  font-size: 1.25rem;
  color: var(--text1-color);
}
.professional p:nth-child(2n + 1) {
  margin-top: 20px;
  font-weight: 400;
  font-size: 1rem;
  color: var(--text1-color);
}
.professional img {
  width: 25%;
  object-fit: cover;
}
.collaborative {
  width: 25%;
}
.collaborative p:nth-child(2n) {
  margin-top: 15px;
  font-weight: 500;
  font-size: 1.25rem;
  color: var(--text1-color);
}
.collaborative p:nth-child(2n + 1) {
  margin-top: 20px;
  font-weight: 400;
  font-size: 1rem;
  color: var(--text1-color);
}
.collaborative img {
  width: 25%;
  object-fit: cover;
}
.favourite {
  width: 25%;
}
.favourite p:nth-child(2n) {
  margin-top: 15px;
  font-weight: 500;
  font-size: 1.25rem;
  color: var(--text1-color);
}
.favourite p:nth-child(2n + 1) {
  margin-top: 20px;
  font-weight: 400;
  font-size: 1rem;
  color: var(--text1-color);
}
.favourite img {
  width: 25%;
  object-fit: cover;
}
/* about section Media query */
@media screen and (max-width: 768px) {
  .about-container {
    width: 90%;
    margin: auto;
    flex-direction: column;
  }
  .about-image {
    margin: auto;
    width: 100%;
  }
  .about-image img {
    width: 100%;
    object-fit: cover;
  }
  .about-content {
    width: 100%;
    margin: auto;
  }
  .complete-work {
    flex-direction: column;
  }
  .complete-task {
    width: 100%;
    text-align: center;
    padding-left: 10px;
  }
  .reviews-rate {
    width: 100%;
    text-align: center;
    margin-right: 80px;
  }
  .about-content-text {
    width: 100%;
    text-align: center;
  }
  .star-icon {
    margin-left: 10px;
  }
  .hire-me {
    flex-direction: column;
  }
  .communicative {
    width: 100%;
  }
  .professional {
    width: 100%;
    margin-top: 20px;
  }
  .collaborative {
    width: 100%;
    margin-top: 20px;
  }
  .favourite {
    width: 100%;
    margin-top: 20px;
  }
}
/* About Section End */

/* Project Section Start */
#project {
  background-color: #F1F1F1;
}
.project-title {
  text-align: center;
  font-weight: 700;
  font-size: 2rem;
  color: var(--text1-color);
}
.project {
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
  grid-auto-flow: dense;
  margin: auto;
  width: 90%;
  padding-top: 15px;
}
.project img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 5px;
}
/* Project Section End */

/* Testimonials Section Start */
#testimonials{
  padding: 40px 0;
  background: #f1f1f1;
  color: var(--text1-color);
  text-align: center;
}
#testimonials h1 {
  font-weight: 700;
  font-size: 2rem;
}
.inner{
  max-width: 100%;
  margin: auto;
  overflow: hidden;
  padding: 0 20px;
}


.row{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.col{
  flex: 33.33%;
  max-width: 33.33%;
  padding: 15px;
}
.col p {
  font-weight: 400;
  font-size: 1rem;
  color: var(--text1-color);
}
.testimonial{
  background: #fff;
  padding: 30px;
  border-radius: 20px;
}
.testimonial img{
  width: 100px;
  height: 100px;
  border-radius: 50%;
}
.name{
  font-weight: 500;
  font-size: 1.25rem;
  margin: 20px 0;
}
.stars{
  color: var(--icon-color);
  margin-bottom: 20px;
}


@media screen and (max-width:960px) {
.col{
  flex: 100%;
  max-width: 80%;
}
}

@media screen and (max-width:600px) {
.col{
  flex: 100%;
  max-width: 100%;
}
}
/* Testimonials Section End */

/* Price Plan Section Start */
#price-plan{
  background: #f1f1f1;
  color: var(--text1-color);
  text-align: center;
}
#price-plan h1 {
  font-weight: 700;
  font-size: 2rem;
}

#price {
  text-align: center;
  margin-top: 15px;
}

.plan {
  display: inline-block;
  margin: 10px 1%;
}

.plan-inner {
  background: #fff;
  margin: 0 auto;
  min-width: 280px;
  max-width: 100%;
  position:relative;
}

.entry-title {
  background: var(--accent-color);
  height: 140px;
  position: relative;
  text-align: center;
  color: #fff;
  margin-bottom: 30px;
}

.entry-title>h3 {
  background: var(--accent-color);
  font-size: 1.25rem;
  padding: 5px 0;
  font-weight: 700;
  margin: 0;
}

.entry-title .price {
  position: absolute;
  bottom: -25px;
  background: var(--accent-color);
  height: 95px;
  width: 95px;
  margin: 0 auto;
  left: 0;
  right: 0;
  overflow: hidden;
  border-radius: 50px;
  border: 5px solid #fff;
  line-height: 80px;
  font-size: 28px;
  font-weight: 700;
}

.entry-content {
  color: #323232;
}

.entry-content ul {
  margin: 0;
  padding: 0;
  list-style: none;
  text-align: center;
}

.entry-content li {
  border-bottom: 1px solid #E5E5E5;
  padding: 10px 0;
  font-size: 1rem;
  font-weight: 500;
}

.entry-content li:last-child {
  border: none;
}

.btn {
  padding: 3em 0;
  text-align: center;
}

.btn a {
  background: #323232;
  padding: 10px 30px;
  color: #fff;
  font-weight: 700;
  text-decoration: none
}
.hot {
    position: absolute;
    top: -7px;
    background: #F80;
    color: #fff;
    z-index: 2;
    padding: 2px 5px;
    font-size: 9px;
    border-radius: 2px;
    right: 10px;
    font-weight: 700;
}
.basic .entry-title {
  background: var(--accent-color);
}

.basic .entry-title > h3 {
  background: var(--accent-color);
  font-size: 1.25rem;
}

.basic .price {
  background: var(--accent-color);
}

.standard .entry-title {
  background: var(--accent-color);
}

.standard .entry-title > h3 {
  background: var(--accent-color);
  font-size: 1.25rem;
}

.standard .price {
  background: var(--accent-color);
}
/* Price Plan Section end */
/* Extra Section Start */
#extra {
  background-color: #f1f1f1;
  padding-top: 15px;
}
.email-container {
  width: 80%;
  background-color: #f44336;
  margin: auto;
  border-radius: 15px;
  padding: 30px;
  display: flex;
  justify-content: space-around;
}
.title-section h3 {
  font-weight: 700;
  font-size: 1.75rem;
  color: var(--text-color);
}
.hire-btn {
  background-color: #fff;
  padding: 10px;
  border-radius: 10px;
}
.hire-btn a {
  color: var(--text1-color);
  font-weight: 500;
  font-size: 1rem;
}
.hire-btn:hover {
  background-color: #6ab04c;
  color: var(--text1-color);
  transition: all 0.3s ease;
}
@media screen and (max-width:600px) {
  .email-container {
    flex-direction: column;
    width: 80%;
    margin: auto;
  }
  .hire-btn {
    width: 95px;
    margin-left: 90px;
    margin-top: 20px;
  }
}
/* Extra Section end */

/* Footer Section Start */
footer{
  width: 100%;
  min-height: 300px;
  max-height: auto;
  background-color: var(--accent-color);
  margin-top: 10px;
  clear: both;
}
footer .footer-wrap{
  width: 80%;
  margin: 0 auto;
  padding-left: 9%;
  color: white;
}
.widgetFooter{
  width: calc(85%/3);
  height: auto;
  float: left;
  padding: 2.5%;
  text-align: left;
}

ul#footerUsefulLink, ul#footerMediaLinks{
  list-style-type: none;
  margin: 0;
  padding: 0;
  line-height: 40px;
  text-transform: capitalize;
}
ul#footerUsefulLink li, ul#footerMediaLinks li{
  cursor: pointer;
  transition: border-bottom 3s ease-in;
}
ul#footerUsefulLink li:hover .usefulLinksIcons, ul#footerUsefulLink li:hover a{
   color: var(--text1-color);
   /* border-bottom: 1px solid red; */
}
ul#footerMediaLinks li:hover span.fb, ul#footerMediaLinks li:hover a.fb { color: var(--text1-color); }
ul#footerMediaLinks li:hover span.twit, ul#footerMediaLinks li:hover a.twit { color: var(--text1-color); }
ul#footerMediaLinks li:hover span.insta, ul#footerMediaLinks li:hover a.insta { color: var(--text1-color); }
ul#footerMediaLinks li:hover span.git, ul#footerMediaLinks li:hover a.git { color: var(--text1-color); }

div#footerLogo img{
  width: 75%;
  margin: auto;
}

div.footerCopy{
  clear: both;
  color: white;
  text-align: center;
  padding-bottom: 5px;
  border-top: 1px solid #ccc;
}
.inb {
  margin-top: 22px;
}
@media (max-width:800px){
  footer .footer-wrap{
    width: 100%;
    padding: 0;
  }
  .widgetFooter:not(:nth-of-type(2)){
    width: calc(90%/2);
    text-align: center;
    font-size: 0.9em;
  }
  .widgetFooter:nth-of-type(2){
    margin-left: 39%;
  }
  div.footerCopy{
    font-size: 0.8em;
  }
}
@media (max-width:600px){
  .widgetFooter:not(:nth-of-type(2)){
    text-align: left;
  }
}
@media (max-width:500px){
  footer{
    min-height: auto;
  }
  .widgetFooter:not(:nth-of-type(2)){
    width: 100%;
    padding: 0;
    text-align: center;
  }
  ul#footerUsefulLink, ul#footerMediaLinks{
    display: flex;
  }
  ul#footerUsefulLink li, ul#footerMediaLinks li{
    float: left;
    flex: 1;
    text-align: center;
    font-size: 1.5em;
  }
  ul#footerUsefulLink li a, ul#footerMediaLinks li a{
    display: none;
  }
  ul#footerUsefulLink li:hover, ul#footerUsefulLink li:hover .usefulLinksIcons, ul#footerUsefulLink li:hover a{
     color: white;
     background-color: var(--text1-color);
  }
  ul#footerMediaLinks li.media1:hover, ul#footerMediaLinks li:hover span.fb, ul#footerMediaLinks li:hover a.fb { background-color: var(--text1-color); color: white; }
  ul#footerMediaLinks li.media2:hover, ul#footerMediaLinks li:hover span.twit, ul#footerMediaLinks li:hover a.twit { background-color: var(--text1-color); color: white; }
  ul#footerMediaLinks li.media3:hover, ul#footerMediaLinks li:hover span.insta, ul#footerMediaLinks li:hover a.insta { background-color: var(--text1-color); color: white; }
  ul#footerMediaLinks li.media4:hover, ul#footerMediaLinks li:hover span.git, ul#footerMediaLinks li:hover a.git { background-color: var(--text1-color); color: white; }
}
/* Footer Section End */

